.class-two{
	background-color: lightblue;
	height: 100px;
	width: 300px;
}

.class-four{
	background-color: magenta;
	height: 100px
	width: 50px;
}

.class-four
    <style>
	body{
text-align: center;
}
